html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;

  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.btn {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ff5357;
  border: none;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}


.btn--slider {
  position: relative;
  top: 105px;
  left: 25px;
  width: 195px;
}

.btn--popular {
  position: relative;
  width: 253px;
}

.btn--credit {
  width: 195px;
}

.btn--about {
   width: 220px;
}

.btn--map {
   width: 300px;
}

.top-menu {
  width: 100%;

  background-color: #33445a;
}

.top-menu__wrapper {
  display: flex;
  position: relative;
  margin: auto;
  width: 940px;
}

.logo {
  width: 220px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 8px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  background-color: #ff5357;
  box-shadow: 0 5px 0 #cd193d;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search__input-field {
  position: relative;
  min-width: 270px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 48px;

  border: none;
  background-color: inherit;
}

.search__input-field::before {
  content: "";
  position: absolute;
  left: 17px;
  width: 17px;
  height: 17px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
}


.search [placeholder] {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: inherit;
}

.search__input-field:focus {
  background-color: #ffffff;
}

.search [placeholder]:focus {
  color: #000000;
}

.top-menu__link {
  min-width: 150px;
  padding-top: 11px;
  padding-bottom: 13px;

  text-align: center;
  font-size: 17px;
  line-height: 18px;
}

.top-menu__link:hover,
.search:hover {
  background-color: #212a3a;
}

.top-menu__link:active {
  background-color: #161d29;
}

.top-menu__link--bookmark {
  position: relative;
  padding-left: 15px;
}

.top-menu__link--bookmark::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 12px;
  width: 14px;
  height: 16px;

  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
}

.top-menu__link--basket {
  position: relative;
  padding-left: 18px;
}

.top-menu__link--basket::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 12px;
  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
}

.top-menu__link--order {
  background-color: #63a63e;
}

.top-menu__link--order:hover {
  background-color: #5fbb2d;
}

.top-menu__link--order:active {
  background-color: #518534;
}

.header-wrapper {
  width: 100%;
  min-height: 278px;

  background-color: #f3f7f8
}

.top-info {
  display: flex;
  width: 940px;
  margin: auto;
}

.top-info p {
  margin-left: 52px;
  padding-top: 32px;
  width: 200px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #fc496f
}

.top-info__contacts {
  align-self: flex-start;
  margin-left: 64px;
  margin-top: 60px;
}

.top-info__phone {
  position: relative;
  padding: 8px 47px 10px 76px;

  font-size: 21px;
  line-height: 18px;
  color: #fb463c;

  border: 3px solid #ffffff;
}

.top-info__phone::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 12px;
  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
}

.top-info address{
  margin-top: 14px;
  margin-left: 13px;

  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #3d546e;
}

.for-guests {
  margin-left: 71px;
  margin-top: 46px;
}

.for-guests_btn {
  padding-top: 14px;
  padding-bottom: 15px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.for-guests_btn--login {
  position: relative;
  min-width: 121px;
  padding-left: 28px;
}

.for-guests_btn--login::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 14px;
  width: 20px;
  height: 17px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
}

.for-guests_btn--signup {
  min-width: 150px;
  margin-left: 5px;
}

.for-guests_btn:hover,
.for-guests_btn:focus {
  color: #ee3643;
}

.for-guests_btn:active {
  color: #000000;
  opacity: 0.3;
}

.for-users {
  width: 940px;
  margin: auto;
}

.for-users__btn {
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.for-users__link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.for-users__link:hover,
.for-users__link:focus {
  color: #ee3643;
}

.for-users__link:active,
.for-users__btn:active {
  color: #32425c;

  opacity: 0.3;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 25px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 55px;
  padding-bottom: 23px;
  width: 940px;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;

  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  background-image: -webkit-linear-gradient(bottom, #32425c 0%, #32425c 99%, #32425c 100%);
  background-image: -o-linear-gradient(bottom, #32425c 0%, #32425c 99%, #32425c 100%);
  background-image: linear-gradient(to top, #32425c 0%, #32425c 99%, #32425c 100%);
}

.main-wrapper {
  width: 940px;
  margin: auto;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 59px;
}

.promo__item {
  position: relative;
  align-self: flex-start;
  min-width: 300px;
  margin-bottom: 20px;
  padding-left: 22px;
  padding-bottom: 20px;
}

.promo__item:first-child,
.promo__item:nth-child(2) {
  margin-right: 20px;
}

.promo__item h3 {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 14px;

  font-size: 24px;
  line-height: 30px;
}

.promo__item a {
  display: block;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo__item a:hover,
.promo__item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo__item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo__item--materials,
.promo__item--delivery {
  background-color: #ffbf47;
}

.promo__item--tools {
  background-color: #3bbce3;
}

.promo__item--technics {
  background-color: #dc91d8;
}

.promo__item--sale {
  background-color: #8ed78f;
}

.promo__item--materials::after {
  content: "";
  position: absolute;
  bottom: 27px;
  right: 43px;
  width: 44px;
  height: 65px;

  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
}

.promo__item--tools::after {
  content: "";
  position: absolute;
  bottom: 29px;
  right: 28px;
  width: 75px;
  height: 61px;

  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
}

.promo__item--technics::after {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 31px;
  width: 78px;
  height: 62px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
}

.promo__item--sale::after {
  content: "";
  position: absolute;
  bottom: 25px;
  right: 45px;
  width: 59px;
  height: 72px;

  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
}

.promo__item--delivery::after {
  content: "";
  position: absolute;
  bottom: 27px;
  right: 31px;
  width: 78px;
  height: 63px;

  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
}

/*Slider*/

.promo-slider {
  width: 620px;
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-slider__inner {
  position: relative;
  overflow: hidden;

  background-color: #8ed78f;
  background-repeat: no-repeat;
}

.promo-slider__items {
  width: 200%;
  min-height: 266px;
}

.promo-slider__btn-1:checked ~ .promo-slider__inner .promo-slider__item--1 {
  transform: translate(0);
}

.promo-slider__btn-2:checked ~ .promo-slider__inner .promo-slider__item--2 {
  transform: translate(620px);
}

.promo-slider__item {
  width: 620px;
  min-height: 266px;
  position: absolute;
}

.promo-slider__item--1 {
  background-image: url(../img/perforators.png);
}

.promo-slider__item--2 {
  background-image: url(../img/drills.png);
}

.promo-slider input {
  display: none;
}

.promo-slider__controls {
  position: absolute;
  left: 47.5%;
  bottom: 36px;
  z-index: 100;
  text-align: center;
  font-size: 0;
}

.promo-slider__control {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.promo-slider__control--1 {
  margin-right: 10px;
}

.promo-slider__btn-1:checked ~ .promo-slider__controls .promo-slider__control--1,
.promo-slider__btn-2:checked ~ .promo-slider__controls .promo-slider__control--2 {
    background-color: #ca2c37;
}

.promo-slider__arrows {
    position: relative;
}

.promo-slider__arrow {
    position: absolute;
    top: 111px;
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    background: none;
    text-decoration: none;
    cursor: pointer;
    z-index: 50;
}

.promo-slider__item h3 {
  margin: 0;
  margin-top: 25px;
  margin-left: 24px;

  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-slider__item p {
  margin-left: 25px;
  margin-top: 4px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/*Popular products*/

.products__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.products__title h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #3d546e;
}

.products__items {
  display: flex;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 21px;
  min-width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.item:last-child {
  margin-right: 0;
}

.item:hover,
.item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.item__title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item__old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.item__price {
  min-width: 141px;
  padding: 10px 0;

  text-align: center;
  color: #ffffff;

  /*background-color: #fc003b;*/
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
}

.item__actions {
  display: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.item__actions--buy {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.item__actions--buy:hover,
.item__actions--buy:focus {
  background-color: #5fbb2d;
}

.item__actions--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item__actions--bookmarks {
  color: #32425c;

  border: 3px solid #63a63e;
}

.item__actions--bookmarks:hover,
.item__actions--bookmarks:focus {
  border: 3px solid #32425c;
}

.item__actions--bookmarks:active {
  color: rgb(50, 66, 92, 0.3);

  border: 3px solid rgb(50, 66, 92, 0.3);
}

.brands__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.brands__title h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #3d546e;
}

.brands__items {
  display: flex;
  flex-wrap: wrap;
}

.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-top: 20px;

  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.brands__item:nth-child(4n) {
  margin-right: 0;
}

.brands__item:hover,
.brands__item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands__item:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.services {
  width: 100%;

  background-color: #f4f8f9
}

.services__wrapper {
  width: 940px;
  margin: auto;

  line-height: 24px;
  color: #000000;
}

.service-slider {
  display: flex;
  width: 940px;
  margin-top: 74px;
}

.service-slider input {
  display: none;
}

.services__wrapper h2 {
  padding-top: 68px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__wrapper p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.service-slider__controls {
  position: relative;
  width: 240px;
}

.service-slider__controls label {
  display: block;
  padding: 14px 22px 15px 22px;

  font-size: 21px;
  font-weight: 700;
  font-weight: 700;
  color: #ffffff;

  box-shadow: inset 0 -1px 0 #33445a;
  background-color: #3d546e;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.service-slider__controls label:hover,
.service-slider__controls label:focus {

  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}

/*Можно ли так? По макету, вид лейбла изменяется, когда этот слайд выбран*/
.service-slider__controls input:checked {
  color: #3d546e;

  background-color: #ffffff;
  box-shadow: none;
}

.service-slider__inner {
  margin-left: 80px;
  width: 620px;
  min-height: 284px;
  overflow: hidden;
}

.service-slider__items {
  width: 300%
  min-height: 272px;
}

.service-slider__item h3 {
  margin: 0;

  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3d546e;
}


.service-slider__item p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}

.about-us {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 95px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-us__description {
  width: 520px;
}

.about-us__map {
  width: 300px;
}

.about-us h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.about-us ul {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.inner-page {
  width: 940px;
  margin: auto;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter {
  color: #000000;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters b {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #f7f3ec;
}

.filter__controls {
  background-color: #f7f3ec;
}

.filter input {
  color: #000000;

  background-color: #f7f3ec;
  border: none;
}

.filter fieldset {
  border: none;
}

.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filter__brands label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__supply label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter__btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f7f3ec;
}

.sort b {
  font-weight: 400;
}

.sort__item {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort__item:hover,
.sort__item:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sort__item--current {
  color: #ee3643;

  border: none;
}

.pagination__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination__item--current {
  color: #ffffff;

  border: none;
  background-color: #ee3643;
}

.pagination__item:hover,
.pagination__item:focus {
  border: 1px solid #bdc6ca;
}

.pagination__item:active {
  border: 1px solid #ee3643;
}

.about-products {
  width: 100%;

  background-color: #f2f6f8
}

.about-products__wrapper {
  width: 940px;
  margin: auto;
}

.about-products h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.about-products p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.bottom-menu {
  width: 100%;

  background-color: #3d546e;
}

.bottom-menu__wrapper {
  width: 940px;
  margin: auto;
}

.bottom-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.bottom-menu a:hover,
.bottom-menu a:focus {
  text-decoration: underline;
}

.bottom-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-menu__promo a {
  color: #ffda96;
}

.bottom-menu address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #f3f7f9;
}

.copyright {
  width: 100%;

  background-color: #353f5b;
}

.copyright__wrapper {
  width: 940px;
  margin: auto;
}

.copyright p {
  font-size: 16px;
}

.social__btn {
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social__btn:hover,
.social__btn:focus,
.social__btn:active {
  background-color: #ee3643;
}

.copyright a {
  color: #ffd180;
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

.copyright a:active{
  color: #ee3643;
  text-decoration: none;
}

.modal {
  border-top: 7px solid #ff1f51;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.btn-close {
  color:#ff1f51
}

.modal label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal input {
  border: 2px solid #dee3e4;
}

.modal [placeholder] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal__footer {
  width: 100%;
  margin: auto;

  background-color: #f4f4f4;
}

.modal-map {
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.modal h1 {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.btn--continue {
  color: #000000;

  background-color: #ffffff;
}
